<ul>
    <article class="listing">
      <a class="image {{if isWide "wide"}}">
      <a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}">
        <img src="{{product.image}}" alt="">
        <small>View Larder</small>
        </a>
      </a>
        <h3>{{product.title}}</h3>
        <div class="detail owner">
          <span>Name:</span> {{product.name}}
        </div>
        <div class="detail type">
          <span>Description:</span> {{product.description}}
        </div>
        <div class="detail location">
          <span>Category:</span> {{product.category}}
        </div>
        <div class="detail bedrooms">
          <span>Sizes:</span> {{product.sizes}}
        </div>
      </article>
</ul>